How often do teams comeback to win a game and when do they do it most often? First lets process the data to elements we can use and put everything in a database so analysis is easier.

In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect("./data/output/home_ahead.db")
cur = conn.cursor()

In [3]:
# Lazy way of doing things, could optimize if wanted to do more work with this...but I'm impatient

# csv = "./data/eightthirtyfour.com/pbp/2000-01_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2001-02_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2002-03_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2003-04_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2004-05_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2005-06_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2006-07_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2007-08_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2008-09_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2009-10_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2010-11_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2011-12_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2012-13_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2013-14_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2014-15_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2015-16_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2016-17_pbp.csv" # file does not exist from source, 404
csv = "./data/eightthirtyfour.com/pbp/2017-18_pbp.csv"

In [4]:
data = pd.read_csv(csv, index_col=0)

In [5]:
data.dtypes

EVENTMSGACTIONTYPE             int64
EVENTMSGTYPE                   int64
EVENTNUM                       int64
GAME_ID                        int64
HOMEDESCRIPTION               object
NEUTRALDESCRIPTION           float64
PCTIMESTRING                  object
PERIOD                         int64
PERSON1TYPE                  float64
PERSON2TYPE                    int64
PERSON3TYPE                    int64
PLAYER1_ID                     int64
PLAYER1_NAME                  object
PLAYER1_TEAM_ABBREVIATION     object
PLAYER1_TEAM_CITY             object
PLAYER1_TEAM_ID              float64
PLAYER1_TEAM_NICKNAME         object
PLAYER2_ID                     int64
PLAYER2_NAME                  object
PLAYER2_TEAM_ABBREVIATION     object
PLAYER2_TEAM_CITY             object
PLAYER2_TEAM_ID              float64
PLAYER2_TEAM_NICKNAME         object
PLAYER3_ID                     int64
PLAYER3_NAME                  object
PLAYER3_TEAM_ABBREVIATION     object
PLAYER3_TEAM_CITY             object
PLAYER3_TEAM_ID              float64
PLAYER3_TEAM_NICKNAME         object
SCORE                         object
SCOREMARGIN                   object
VISITORDESCRIPTION            object
WCTIMESTRING                  object
dtype: object

In [6]:
len(data)

562020

In [7]:
data.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
0,0,12,2,21700627,NaN,NaN,12:00,1,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2:11 PM
1,0,10,4,21700627,Jump Ball Barnes vs. Lopez: Tip to Ball,NaN,12:00,1,4.0,5,...,1628366,Lonzo Ball,LAL,Los Angeles,1.610613e+09,Lakers,NaN,NaN,NaN,2:11 PM
2,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM
3,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,0,NaN,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM
4,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM

### How Many Individual Games

In [8]:
len(data['GAME_ID'].unique())

1230

### How many events per game?

In [9]:
len(data[(data['GAME_ID'] == 20000001)])

0

In [10]:
data['GAME_ID'].value_counts().max()

604

In [11]:
data['GAME_ID'].value_counts().min()

355

In [12]:
data['GAME_ID'].value_counts().mean()

456.9268292682927

Let's remove NaN values in score columns as they are non scoring events (though we may want to keep thes if we want a proper percentage of how long during a game is a team behind).

In [13]:
dropped = data.dropna(subset=['SCOREMARGIN'])

In [14]:
len(dropped)

149218

In [15]:
dropped['GAME_ID'].value_counts().max()

174

In [16]:
dropped['GAME_ID'].value_counts().min()

91

In [17]:
dropped['GAME_ID'].value_counts().mean()

121.31544715447154

In [18]:
dropped.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
2,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM
3,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,0,NaN,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM
4,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM
5,6,1,14,21700627,Smith Jr. 1' Driving Layup (2 PTS) (Ferrell 1 ...,NaN,10:57,1,4.0,4,...,0,NaN,NaN,NaN,NaN,NaN,4 - 5,1,NaN,2:12 PM
6,96,1,16,21700627,NaN,NaN,10:45,1,5.0,0,...,0,NaN,NaN,NaN,NaN,NaN,6 - 5,-1,Randle 6' Turnaround Bank Hook Shot (4 PTS),2:12 PM

Now we want to create columns for whether the home team won or not and for each scoring event for whether they were ahead or not. This is easy because if the SCOREMARGIN is Negative, the home team is losing. And if the last entry for a GAME_ID score margin is negative, then the home team lost.

In [19]:
final_scores = dropped.groupby('GAME_ID').tail(n=1)

In [20]:
final_scores.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
504,0,13,688,21700627,NaN,NaN,0:00,5,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,107 - 101,-6,NaN,4:36 PM
494,0,13,694,21700261,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,118 - 124,6,NaN,10:31 PM
431,0,13,636,21700597,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,114 - 124,10,NaN,12:45 AM
450,0,13,655,21700885,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,89 - 115,26,NaN,9:50 PM
499,0,13,719,21700897,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,123 - 104,-19,NaN,9:48 PM

In [21]:
def home_adv(row):
    if row['SCOREMARGIN'] == 'TIE':
        return -1
    if int(row['SCOREMARGIN']) < 0:
        return 0
    if int(row['SCOREMARGIN']) > 0:
        return 1
    return -999

In [22]:
final_scores['home_win'] = final_scores.apply(lambda x: home_adv(x), axis=1)

/usr/local/Cellar/ipython/6.4.0_1/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
final_scores.sort_values(by=['GAME_ID']).head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_win
476,0,13,674,21700001,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,99 - 102,3,NaN,10:32 PM,1
456,0,13,686,21700002,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,122 - 121,-1,NaN,1:30 AM,0
439,0,13,608,21700003,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,90 - 102,12,NaN,9:19 PM,1
523,0,13,730,21700004,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,131 - 140,9,NaN,9:33 PM,1
485,0,13,671,21700005,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,109 - 116,7,NaN,9:30 PM,1

In [24]:
dropped['home_ahead'] = dropped.apply(lambda x: home_adv(x), axis=1)

/usr/local/Cellar/ipython/6.4.0_1/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
dropped.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_ahead
2,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM,0
3,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,NaN,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM,1
4,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,NaN,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM,0
5,6,1,14,21700627,Smith Jr. 1' Driving Layup (2 PTS) (Ferrell 1 ...,NaN,10:57,1,4.0,4,...,NaN,NaN,NaN,NaN,NaN,4 - 5,1,NaN,2:12 PM,1
6,96,1,16,21700627,NaN,NaN,10:45,1,5.0,0,...,NaN,NaN,NaN,NaN,NaN,6 - 5,-1,Randle 6' Turnaround Bank Hook Shot (4 PTS),2:12 PM,0

In [26]:
wins_df = final_scores[['GAME_ID', 'home_win']]

In [27]:
wins_df.head()

      GAME_ID  home_win
504  21700627         0
494  21700261         1
431  21700597         1
450  21700885         1
499  21700897         0

In [28]:
prepped_data = dropped.merge(wins_df, left_on='GAME_ID', right_on='GAME_ID', how='inner')

Now we have our data prepped, can start to analyze play by play whether being ahead, and for what percentage of the game, determines the outcome of a win or a loss.

In [29]:
len(dropped)

149218

In [30]:
len(prepped_data)

149218

1) Group by `GAME_ID` and calculate the percentage of each game where the home team was ahead (i.e., number of events / total events where `home_ahead` == 1.

In [31]:
total_events_df = pd.DataFrame(prepped_data['GAME_ID'].value_counts()).reset_index()

In [32]:
total_events_period_df = pd.DataFrame(prepped_data.groupby(["GAME_ID", "PERIOD"]).size().reset_index(name="period_events"))

In [33]:
total_events_period_df.head()

    GAME_ID  PERIOD  period_events
0  21700001       1             28
1  21700001       2             28
2  21700001       3             30
3  21700001       4             37
4  21700002       1             36

In [34]:
total_events_df.columns = ['GAME_ID', 'total_events']

In [35]:
total_ahead = prepped_data[(prepped_data['home_ahead'] > -1)].groupby('GAME_ID').agg({'home_ahead':'sum'}).reset_index()

In [36]:
period_ahead = prepped_data[(prepped_data['home_ahead'] > -1)].groupby(['GAME_ID', 'PERIOD']).agg({'home_ahead':'sum'}).reset_index()

In [37]:
period_ahead.head()

    GAME_ID  PERIOD  home_ahead
0  21700001       1          16
1  21700001       2          28
2  21700001       3          28
3  21700001       4          15
4  21700002       1          31

In [38]:
total_events_period_pivot_df = total_events_period_df.pivot(index="GAME_ID", columns="PERIOD", values="period_events")
total_events_period_pivot_df = pd.DataFrame(total_events_period_pivot_df.to_records())
total_events_period_pivot_df.columns = ["period_{}_events".format(col) if col != 'GAME_ID' else col for col in total_events_period_pivot_df.columns ]
total_events_period_pivot_df.head()

,GAME_ID,period_1_events,period_2_events,period_3_events,period_4_events,period_5_events,period_6_events,period_7_events
0,21700001,28.0,28.0,30.0,37.0,NaN,NaN,NaN
1,21700002,36.0,36.0,31.0,29.0,NaN,NaN,NaN
2,21700003,33.0,26.0,28.0,24.0,NaN,NaN,NaN
3,21700004,33.0,38.0,48.0,41.0,NaN,NaN,NaN
4,21700005,40.0,26.0,31.0,33.0,NaN,NaN,NaN

In [39]:
period_ahead_pivot_df = period_ahead.pivot(index="GAME_ID", columns="PERIOD", values="home_ahead")
period_ahead_pivot_df = pd.DataFrame(period_ahead_pivot_df.to_records())
period_ahead_pivot_df.columns = ["period_{}_ahead".format(col) if col != 'GAME_ID' else col for col in period_ahead_pivot_df.columns ]
period_ahead_pivot_df.head()

,GAME_ID,period_1_ahead,period_2_ahead,period_3_ahead,period_4_ahead,period_5_ahead,period_6_ahead,period_7_ahead
0,21700001,16.0,28.0,28.0,15.0,NaN,NaN,NaN
1,21700002,31.0,36.0,31.0,25.0,NaN,NaN,NaN
2,21700003,28.0,26.0,28.0,24.0,NaN,NaN,NaN
3,21700004,24.0,31.0,47.0,41.0,NaN,NaN,NaN
4,21700005,3.0,10.0,31.0,33.0,NaN,NaN,NaN

In [40]:
total_calcs = total_events_df.merge(total_ahead, left_on='GAME_ID', right_on='GAME_ID', how='inner')
total_calcs.head()

    GAME_ID  total_events  home_ahead
0  21700540           174          54
1  21701054           163          69
2  21700692           162          71
3  21701152           160          63
4  21700004           160         143

In [41]:
period_calcs = total_events_period_pivot_df.merge(period_ahead_pivot_df, left_on='GAME_ID', right_on='GAME_ID', how='inner')
period_calcs.head()

,GAME_ID,period_1_events,period_2_events,period_3_events,period_4_events,period_5_events,period_6_events,period_7_events,period_1_ahead,period_2_ahead,period_3_ahead,period_4_ahead,period_5_ahead,period_6_ahead,period_7_ahead
0,21700001,28.0,28.0,30.0,37.0,NaN,NaN,NaN,16.0,28.0,28.0,15.0,NaN,NaN,NaN
1,21700002,36.0,36.0,31.0,29.0,NaN,NaN,NaN,31.0,36.0,31.0,25.0,NaN,NaN,NaN
2,21700003,33.0,26.0,28.0,24.0,NaN,NaN,NaN,28.0,26.0,28.0,24.0,NaN,NaN,NaN
3,21700004,33.0,38.0,48.0,41.0,NaN,NaN,NaN,24.0,31.0,47.0,41.0,NaN,NaN,NaN
4,21700005,40.0,26.0,31.0,33.0,NaN,NaN,NaN,3.0,10.0,31.0,33.0,NaN,NaN,NaN

In [42]:
def calc_pct(row):
    return row['home_ahead']/row['total_events']

In [43]:
total_calcs['pct_home_ahead'] = total_calcs.apply(lambda x: calc_pct(x), axis=1)

In [44]:
total_calcs.head()

    GAME_ID  total_events  home_ahead  pct_home_ahead
0  21700540           174          54        0.310345
1  21701054           163          69        0.423313
2  21700692           162          71        0.438272
3  21701152           160          63        0.393750
4  21700004           160         143        0.893750

### Average margins
We will also want to have a record for mean score margins over all and per period

In [45]:
prepped_data['SCOREMARGIN'].replace('TIE', 0,inplace=True)

In [46]:
prepped_data.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_ahead,home_win
0,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM,0,0
1,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM,1,0
2,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM,0,0
3,6,1,14,21700627,Smith Jr. 1' Driving Layup (2 PTS) (Ferrell 1 ...,NaN,10:57,1,4.0,4,...,NaN,NaN,NaN,NaN,4 - 5,1,NaN,2:12 PM,1,0
4,96,1,16,21700627,NaN,NaN,10:45,1,5.0,0,...,NaN,NaN,NaN,NaN,6 - 5,-1,Randle 6' Turnaround Bank Hook Shot (4 PTS),2:12 PM,0,0

In [47]:
prepped_data[['SCOREMARGIN']] = prepped_data[['SCOREMARGIN']].apply(pd.to_numeric)

In [48]:
prepped_data.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_ahead,home_win
0,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM,0,0
1,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM,1,0
2,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM,0,0
3,6,1,14,21700627,Smith Jr. 1' Driving Layup (2 PTS) (Ferrell 1 ...,NaN,10:57,1,4.0,4,...,NaN,NaN,NaN,NaN,4 - 5,1,NaN,2:12 PM,1,0
4,96,1,16,21700627,NaN,NaN,10:45,1,5.0,0,...,NaN,NaN,NaN,NaN,6 - 5,-1,Randle 6' Turnaround Bank Hook Shot (4 PTS),2:12 PM,0,0

In [49]:
prepped_data.dtypes

EVENTMSGACTIONTYPE             int64
EVENTMSGTYPE                   int64
EVENTNUM                       int64
GAME_ID                        int64
HOMEDESCRIPTION               object
NEUTRALDESCRIPTION           float64
PCTIMESTRING                  object
PERIOD                         int64
PERSON1TYPE                  float64
PERSON2TYPE                    int64
PERSON3TYPE                    int64
PLAYER1_ID                     int64
PLAYER1_NAME                  object
PLAYER1_TEAM_ABBREVIATION     object
PLAYER1_TEAM_CITY             object
PLAYER1_TEAM_ID              float64
PLAYER1_TEAM_NICKNAME         object
PLAYER2_ID                     int64
PLAYER2_NAME                  object
PLAYER2_TEAM_ABBREVIATION     object
PLAYER2_TEAM_CITY             object
PLAYER2_TEAM_ID              float64
PLAYER2_TEAM_NICKNAME         object
PLAYER3_ID                     int64
PLAYER3_NAME                  object
PLAYER3_TEAM_ABBREVIATION     object
PLAYER3_TEAM_CITY             object
PLAYER3_TEAM_ID              float64
PLAYER3_TEAM_NICKNAME         object
SCORE                         object
SCOREMARGIN                    int64
VISITORDESCRIPTION            object
WCTIMESTRING                  object
home_ahead                     int64
home_win                       int64
dtype: object

In [50]:
total_avg_margin = prepped_data.groupby('GAME_ID').agg({'SCOREMARGIN':'mean'}).reset_index()

In [51]:
total_avg_margin = total_avg_margin.rename(columns={'SCOREMARGIN':'total_avg_margin'})

In [52]:
total_avg_margin.head()

    GAME_ID  total_avg_margin
0  21700001          5.780488
1  21700002          8.000000
2  21700003          8.747748
3  21700004          5.150000
4  21700005          3.907692

In [53]:
period_avg_margin = prepped_data.groupby(['GAME_ID', 'PERIOD']).agg({'SCOREMARGIN':'mean'}).reset_index()

In [54]:
period_avg_margin

       GAME_ID  PERIOD  SCOREMARGIN
0     21700001       1     2.035714
1     21700001       2    13.500000
2     21700001       3     9.233333
3     21700001       4    -0.027027
4     21700002       1     4.861111
5     21700002       2     9.833333
6     21700002       3    12.709677
7     21700002       4     4.586207
8     21700003       1     3.484848
9     21700003       2     8.884615
10    21700003       3    11.928571
11    21700003       4    12.125000
12    21700004       1     2.000000
13    21700004       2     2.736842
14    21700004       3     7.270833
15    21700004       4     7.439024
16    21700005       1    -3.000000
17    21700005       2    -0.730769
18    21700005       3    10.806452
19    21700005       4     9.454545
20    21700006       1     4.322581
21    21700006       2    -0.314286
22    21700006       3     3.400000
23    21700006       4     3.473684
24    21700007       1     1.576923
25    21700007       2    -0.947368
26    21700007       3     0.961538
27    21700007       4    -1.676471
28    21700008       1    -2.617647
29    21700008       2     1.518519
...        ...     ...          ...
4959  21701223       4    34.160000
4960  21701224       1    -4.928571
4961  21701224       2   -14.933333
4962  21701224       3   -15.222222
4963  21701224       4   -27.695652
4964  21701225       1     0.428571
4965  21701225       2     5.457143
4966  21701225       3     4.214286
4967  21701225       4     4.050000
4968  21701225       5     2.200000
4969  21701226       1     3.333333
4970  21701226       2     7.387097
4971  21701226       3    18.030303
4972  21701226       4    21.171429
4973  21701227       1     2.500000
4974  21701227       2    13.897436
4975  21701227       3    17.857143
4976  21701227       4    12.941176
4977  21701228       1    -1.789474
4978  21701228       2    -7.615385
4979  21701228       3   -13.192308
4980  21701228       4   -15.607143
4981  21701229       1     5.576923
4982  21701229       2    12.037037
4983  21701229       3    16.230769
4984  21701229       4    14.687500
4985  21701230       1     0.458333
4986  21701230       2     7.958333
4987  21701230       3     9.629630
4988  21701230       4    15.782609

[4989 rows x 3 columns]

In [55]:
period_avg_margin_pivot_df = period_avg_margin.pivot(index="GAME_ID", columns="PERIOD", values="SCOREMARGIN")
period_avg_margin_pivot_df = pd.DataFrame(period_avg_margin_pivot_df.to_records())
period_avg_margin_pivot_df.columns = ["period_{}_avg_margin".format(col) if col != 'GAME_ID' else col for col in period_avg_margin_pivot_df.columns ]
period_avg_margin_pivot_df.head()

,GAME_ID,period_1_avg_margin,period_2_avg_margin,period_3_avg_margin,period_4_avg_margin,period_5_avg_margin,period_6_avg_margin,period_7_avg_margin
0,21700001,2.035714,13.500000,9.233333,-0.027027,NaN,NaN,NaN
1,21700002,4.861111,9.833333,12.709677,4.586207,NaN,NaN,NaN
2,21700003,3.484848,8.884615,11.928571,12.125000,NaN,NaN,NaN
3,21700004,2.000000,2.736842,7.270833,7.439024,NaN,NaN,NaN
4,21700005,-3.000000,-0.730769,10.806452,9.454545,NaN,NaN,NaN

### Merge and Save
Now let's join everything together and save to a database

In [56]:
final_calcs = total_calcs.merge(period_calcs, left_on='GAME_ID', right_on='GAME_ID', how='inner')

In [57]:
final_avg_margins = period_avg_margin_pivot_df.merge(total_avg_margin, left_on='GAME_ID', right_on='GAME_ID', how='inner')

In [58]:
final_avg_margins

,GAME_ID,period_1_avg_margin,period_2_avg_margin,period_3_avg_margin,period_4_avg_margin,period_5_avg_margin,period_6_avg_margin,period_7_avg_margin,total_avg_margin
0,21700001,2.035714,13.500000,9.233333,-0.027027,NaN,NaN,NaN,5.780488
1,21700002,4.861111,9.833333,12.709677,4.586207,NaN,NaN,NaN,8.000000
2,21700003,3.484848,8.884615,11.928571,12.125000,NaN,NaN,NaN,8.747748
3,21700004,2.000000,2.736842,7.270833,7.439024,NaN,NaN,NaN,5.150000
4,21700005,-3.000000,-0.730769,10.806452,9.454545,NaN,NaN,NaN,3.907692
5,21700006,4.322581,-0.314286,3.400000,3.473684,NaN,NaN,NaN,2.690647
6,21700007,1.576923,-0.947368,0.961538,-1.676471,NaN,NaN,NaN,-0.217742
7,21700008,-2.617647,1.518519,5.884615,11.433333,NaN,NaN,NaN,3.829060
8,21700009,-2.400000,-2.352941,-3.933333,-2.085714,NaN,NaN,NaN,-2.669355
9,21700010,-1.666667,-7.535714,-10.838710,7.600000,NaN,NaN,NaN,-3.621622
10,21700011,3.862069,4.655172,7.189189,5.560000,NaN,NaN,NaN,5.433333
11,21700012,-1.076923,-12.241379,-33.264706,-51.230769,NaN,NaN,NaN,-24.747826
12,21700013,-1.461538,-2.516129,-4.958333,-4.842105,NaN,NaN,NaN,-3.521008
13,21700014,2.727273,18.838710,18.500000,18.780488,NaN,NaN,NaN,15.920635
14,21700015,3.333333,2.285714,15.666667,19.185185,NaN,NaN,NaN,10.045872
15,21700016,-4.214286,-10.037037,-16.321429,-22.125000,NaN,NaN,NaN,-13.513043
16,21700017,-3.444444,-11.333333,0.366667,14.791667,NaN,NaN,NaN,-1.153846
17,21700018,-1.516129,-8.194444,-11.111111,-17.066667,NaN,NaN,NaN,-9.306452
18,21700019,-2.961538,-2.888889,5.620690,-3.354839,NaN,NaN,NaN,-0.849558
19,21700020,0.848485,-7.222222,2.137931,4.789474,NaN,NaN,NaN,0.088235
20,21700021,1.535714,-0.900000,-6.500000,-14.193548,NaN,NaN,NaN,-5.179487
21,21700022,-1.700000,3.200000,1.555556,2.236842,NaN,NaN,NaN,1.453237
22,21700023,0.684211,-0.870968,-0.714286,4.139535,NaN,NaN,NaN,1.190083
23,21700024,3.565217,5.153846,-4.478261,-4.103448,NaN,NaN,NaN,-0.059406
24,21700025,-5.344828,-0.121212,-16.138889,-21.500000,NaN,NaN,NaN,-10.984615
25,21700026,-3.500000,2.571429,-4.305556,-6.685714,NaN,NaN,NaN,-2.751634
26,21700027,6.111111,11.684211,23.000000,28.689655,NaN,NaN,NaN,16.580882
27,21700028,-13.440000,-15.580645,-16.785714,-28.090909,NaN,NaN,NaN,-18.940171
28,21700029,1.533333,6.000000,16.866667,8.300000,NaN,NaN,NaN,8.211864
29,21700030,0.758621,15.526316,6.481481,-1.303030,NaN,NaN,NaN,5.858268
...,...,...,...,...,...,...,...,...,...
1200,21701201,-7.700000,-7.250000,-8.727273,-17.000000,NaN,NaN,NaN,-10.450000
1201,21701202,6.785714,7.500000,6.896552,3.064516,NaN,NaN,NaN,6.016949
1202,21701203,-3.812500,-11.620690,-13.964286,-18.384615,NaN,NaN,NaN,-11.547826
1203,21701204,-3.575758,9.037037,-0.750000,-12.043478,NaN,NaN,NaN,-1.549550
1204,21701205,4.296296,3.600000,6.333333,6.222222,NaN,NaN,NaN,4.973451
1205,21701206,10.310345,5.062500,3.678571,-7.303030,NaN,NaN,NaN,2.647541
1206,21701207,-0.416667,-8.151515,-11.870968,-9.914286,NaN,NaN,NaN,-8.081301
1207,21701208,3.740741,2.800000,-0.300000,12.500000,NaN,NaN,NaN,5.027523
1208,21701209,-1.925926,-1.256410,7.312500,12.962963,NaN,NaN,NaN,3.864000
1209,21701210,-6.739130,-8.740741,-9.363636,1.789474,NaN,NaN,NaN,-4.809091
1210,21701211,4.888889,-0.035714,-6.769231,2.416667,NaN,NaN,NaN,0.123810
1211,21701212,-5.000000,-4.607143,-19.575758,-17.900000,NaN,NaN,NaN,-12.262712
1212,21701213,-4.774194,-8.843750,-12.761905,-18.538462,NaN,NaN,NaN,-10.736364
1213,21701214,3.448276,-3.000000,-5.892857,-7.722222,NaN,NaN,NaN,-3.500000
1214,21701215,-5.962963,-4.827586,3.413793,12.628571,NaN,NaN,NaN,2.000000
1215,21701216,1.766667,3.720000,1.000000,-19.810811,NaN,NaN,NaN,-4.565574
1216,21701217,8.615385,20.200000,36.241379,39.517241,NaN,NaN,NaN,26.844037
1217,21701218,-1.450000,-5.161290,-1.233333,-8.793103,NaN,NaN,NaN,-4.372727
1218,21701219,3.500000,6.074074,15.787879,14.758621,NaN,NaN,NaN,10.469565
1219,21701220,3.227273,-9.903226,-14.787879,-12.875000,NaN,NaN,NaN,-9.627119
1220,21701221,-1.750000,-1.535714,-7.451613,-1.483871,3.636364,NaN,NaN,-2.550388
1221,21701222,3.200000,5.615385,7.968750,5.266667,NaN,NaN,NaN,5.654867
1222,21701223,16.937500,33.600000,34.620690,34.160000,NaN,NaN,NaN,29.553719
1223,21701224,-4.928571,-14.933333,-15.222222,-27.695652,NaN,NaN,NaN,-15.129630
1224,21701225,0.428571,5.457143,4.214286,4.050000,2.200000,NaN,NaN,3.452381
1225,21701226,3.333333,7.387097,18.030303,21.171429,NaN,NaN,NaN,13.134921
1226,21701227,2.500000,13.897436,17.857143,12.941176,NaN,NaN,NaN,11.784722
1227,21701228,-1.789474,-7.615385,-13.192308,-15.607143,NaN,NaN,NaN,-8.864407
1228,21701229,5.576923,12.037037,16.230769,14.687500,NaN,NaN,NaN,12.270270
1229,21701230,0.458333,7.958333,9.629630,15.782609,NaN,NaN,NaN,8.418367

And add in whether the home team won or not.

In [59]:
add_margins_df = final_calcs.merge(final_avg_margins, left_on='GAME_ID', right_on='GAME_ID', how='inner')

In [60]:
processed_df = add_margins_df.merge(wins_df, left_on='GAME_ID', right_on='GAME_ID', how='inner')

In [61]:
processed_df.head()

,GAME_ID,total_events,home_ahead,pct_home_ahead,period_1_events,period_2_events,period_3_events,period_4_events,period_5_events,period_6_events,...,period_7_ahead,period_1_avg_margin,period_2_avg_margin,period_3_avg_margin,period_4_avg_margin,period_5_avg_margin,period_6_avg_margin,period_7_avg_margin,total_avg_margin,home_win
0,21700540,174,54,0.310345,44.0,34.0,33.0,30.0,15.0,18.0,...,NaN,2.090909,0.147059,-11.060606,-4.166667,0.000000,0.555556,NaN,-2.201149,1
1,21701054,163,69,0.423313,39.0,29.0,30.0,31.0,16.0,18.0,...,NaN,-4.025641,-1.241379,3.666667,-1.387097,1.125000,6.277778,NaN,0.030675,1
2,21700692,162,71,0.438272,23.0,32.0,33.0,48.0,13.0,13.0,...,NaN,-3.130435,7.281250,0.909091,-8.458333,-0.692308,3.000000,NaN,-1.141975,1
3,21701152,160,63,0.393750,27.0,47.0,31.0,34.0,21.0,NaN,...,NaN,-4.851852,3.340426,-4.612903,-9.588235,4.142857,NaN,NaN,-2.225000,1
4,21700004,160,143,0.893750,33.0,38.0,48.0,41.0,NaN,NaN,...,NaN,2.000000,2.736842,7.270833,7.439024,NaN,NaN,NaN,5.150000,1

In [62]:
processed_df.to_sql(name="processed_data", con=conn, if_exists="append", index=False)

In [63]:
# data.to_sql(name="raw_data", con=conn, if_exists="append", index=False)

NOTE: Writing to database during 2011-12 season broke schema as this was first time 8 periods were seen in a game, added those columns manually with :

`
ALTER TABLE processed_data ADD COLUMN period_8_events REAL;
ALTER TABLE processed_data ADD COLUMN period_8_ahead REAL;
ALTER TABLE processed_data ADD COLUMN period_8_avg_margin REAL;
`