How often do teams comeback to win a game and when do they do it most often? First lets process the data to elements we can use and put everything in a database so analysis is easier.

In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect("./data/output/home_ahead.db")
cur = conn.cursor()

In [3]:
# Lazy way of doing things, could optimize if wanted to do more work with this...but I'm impatient

# csv = "./data/eightthirtyfour.com/pbp/2000-01_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2001-02_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2002-03_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2003-04_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2004-05_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2005-06_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2006-07_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2007-08_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2008-09_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2009-10_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2010-11_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2011-12_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2012-13_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2013-14_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2014-15_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2015-16_pbp.csv"
# csv = "./data/eightthirtyfour.com/pbp/2016-17_pbp.csv" # file does not exist from source, 404
csv = "./data/eightthirtyfour.com/pbp/2017-18_pbp.csv"

In [4]:
data = pd.read_csv(csv, index_col=0)

In [5]:
data.dtypes

EVENTMSGACTIONTYPE             int64
EVENTMSGTYPE                   int64
EVENTNUM                       int64
GAME_ID                        int64
HOMEDESCRIPTION               object
NEUTRALDESCRIPTION           float64
PCTIMESTRING                  object
PERIOD                         int64
PERSON1TYPE                  float64
PERSON2TYPE                    int64
PERSON3TYPE                    int64
PLAYER1_ID                     int64
PLAYER1_NAME                  object
PLAYER1_TEAM_ABBREVIATION     object
PLAYER1_TEAM_CITY             object
PLAYER1_TEAM_ID              float64
PLAYER1_TEAM_NICKNAME         object
PLAYER2_ID                     int64
PLAYER2_NAME                  object
PLAYER2_TEAM_ABBREVIATION     object
PLAYER2_TEAM_CITY             object
PLAYER2_TEAM_ID              float64
PLAYER2_TEAM_NICKNAME         object
PLAYER3_ID                     int64
PLAYER3_NAME                  object
PLAYER3_TEAM_ABBREVIATION     object
PLAYER3_TEAM_CITY             object
PLAYER3_TEAM_ID              float64
PLAYER3_TEAM_NICKNAME         object
SCORE                         object
SCOREMARGIN                   object
VISITORDESCRIPTION            object
WCTIMESTRING                  object
dtype: object

In [6]:
len(data)

562020

In [7]:
data.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
0,0,12,2,21700627,NaN,NaN,12:00,1,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2:11 PM
1,0,10,4,21700627,Jump Ball Barnes vs. Lopez: Tip to Ball,NaN,12:00,1,4.0,5,...,1628366,Lonzo Ball,LAL,Los Angeles,1.610613e+09,Lakers,NaN,NaN,NaN,2:11 PM
2,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM
3,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,0,NaN,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM
4,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM

### How Many Individual Games

In [8]:
len(data['GAME_ID'].unique())

1230

### How many events per game?

In [9]:
len(data[(data['GAME_ID'] == 20000001)])

0

In [10]:
data['GAME_ID'].value_counts().max()

604

In [11]:
data['GAME_ID'].value_counts().min()

355

In [12]:
data['GAME_ID'].value_counts().mean()

456.92682926829269

Let's remove NaN values in score columns as they are non scoring events (though we may want to keep thes if we want a proper percentage of how long during a game is a team behind).

In [13]:
dropped = data.dropna(subset=['SCOREMARGIN'])

In [14]:
len(dropped)

149218

In [15]:
dropped['GAME_ID'].value_counts().max()

174

In [16]:
dropped['GAME_ID'].value_counts().min()

91

In [17]:
dropped['GAME_ID'].value_counts().mean()

121.31544715447154

In [18]:
dropped.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
2,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM
3,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,0,NaN,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM
4,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,0,NaN,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM
5,6,1,14,21700627,Smith Jr. 1' Driving Layup (2 PTS) (Ferrell 1 ...,NaN,10:57,1,4.0,4,...,0,NaN,NaN,NaN,NaN,NaN,4 - 5,1,NaN,2:12 PM
6,96,1,16,21700627,NaN,NaN,10:45,1,5.0,0,...,0,NaN,NaN,NaN,NaN,NaN,6 - 5,-1,Randle 6' Turnaround Bank Hook Shot (4 PTS),2:12 PM

Now we want to create columns for whether the home team won or not and for each scoring event for whether they were ahead or not. This is easy because if the SCOREMARGIN is Negative, the home team is losing. And if the last entry for a GAME_ID score margin is negative, then the home team lost.

In [19]:
final_scores = dropped.groupby('GAME_ID').tail(n=1)

In [20]:
final_scores.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
504,0,13,688,21700627,NaN,NaN,0:00,5,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,107 - 101,-6,NaN,4:36 PM
494,0,13,694,21700261,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,118 - 124,6,NaN,10:31 PM
431,0,13,636,21700597,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,114 - 124,10,NaN,12:45 AM
450,0,13,655,21700885,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,89 - 115,26,NaN,9:50 PM
499,0,13,719,21700897,NaN,NaN,0:00,4,0.0,0,...,0,NaN,NaN,NaN,NaN,NaN,123 - 104,-19,NaN,9:48 PM

In [21]:
def home_adv(row):
    if row['SCOREMARGIN'] == 'TIE':
        return -1
    if int(row['SCOREMARGIN']) < 0:
        return 0
    if int(row['SCOREMARGIN']) > 0:
        return 1
    return -999

In [22]:
final_scores['home_win'] = final_scores.apply(lambda x: home_adv(x), axis=1)

/Users/dogrdon/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
final_scores.sort_values(by=['GAME_ID']).head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_win
476,0,13,674,21700001,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,99 - 102,3,NaN,10:32 PM,1
456,0,13,686,21700002,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,122 - 121,-1,NaN,1:30 AM,0
439,0,13,608,21700003,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,90 - 102,12,NaN,9:19 PM,1
523,0,13,730,21700004,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,131 - 140,9,NaN,9:33 PM,1
485,0,13,671,21700005,NaN,NaN,0:00,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,109 - 116,7,NaN,9:30 PM,1

In [24]:
dropped['home_ahead'] = dropped.apply(lambda x: home_adv(x), axis=1)

/Users/dogrdon/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
dropped.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_ahead
2,3,1,7,21700627,NaN,NaN,11:44,1,5.0,5,...,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Randle 10' Hook Shot (2 PTS) (Ingram 1 AST),2:11 PM,0
3,1,1,9,21700627,Barnes 25' 3PT Jump Shot (3 PTS) (Matthews 1 AST),NaN,11:29,1,4.0,4,...,NaN,NaN,NaN,NaN,NaN,2 - 3,1,NaN,2:11 PM,1
4,63,1,12,21700627,NaN,NaN,11:12,1,5.0,5,...,NaN,NaN,NaN,NaN,NaN,4 - 3,-1,Ingram 13' Fadeaway Jumper (2 PTS) (Ball 1 AST),2:12 PM,0
5,6,1,14,21700627,Smith Jr. 1' Driving Layup (2 PTS) (Ferrell 1 ...,NaN,10:57,1,4.0,4,...,NaN,NaN,NaN,NaN,NaN,4 - 5,1,NaN,2:12 PM,1
6,96,1,16,21700627,NaN,NaN,10:45,1,5.0,0,...,NaN,NaN,NaN,NaN,NaN,6 - 5,-1,Randle 6' Turnaround Bank Hook Shot (4 PTS),2:12 PM,0

In [26]:
wins_df = final_scores[['GAME_ID', 'home_win']]

In [27]:
wins_df.head()

      GAME_ID  home_win
504  21700627         0
494  21700261         1
431  21700597         1
450  21700885         1
499  21700897         0

In [28]:
prepped_data = dropped.merge(wins_df, left_on='GAME_ID', right_on='GAME_ID', how='inner')

Now we have our data prepped, can start to analyze play by play whether being ahead, and for what percentage of the game, determines the outcome of a win or a loss.

In [29]:
len(dropped)

149218

In [30]:
len(prepped_data)

149218

1) Group by `GAME_ID` and calculate the percentage of each game where the home team was ahead (i.e., number of events / total events where `home_ahead` == 1.

In [31]:
total_events_df = pd.DataFrame(prepped_data['GAME_ID'].value_counts()).reset_index()

In [32]:
total_events_period_df = pd.DataFrame(prepped_data.groupby(["GAME_ID", "PERIOD"]).size().reset_index(name="period_events"))

In [33]:
total_events_period_df.head()

    GAME_ID  PERIOD  period_events
0  21700001       1             28
1  21700001       2             28
2  21700001       3             30
3  21700001       4             37
4  21700002       1             36

In [34]:
total_events_df.columns = ['GAME_ID', 'total_events']

In [35]:
total_ahead = prepped_data[(prepped_data['home_ahead'] > -1)].groupby('GAME_ID').agg({'home_ahead':'sum'}).reset_index()

In [36]:
period_ahead = prepped_data[(prepped_data['home_ahead'] > -1)].groupby(['GAME_ID', 'PERIOD']).agg({'home_ahead':'sum'}).reset_index()

In [37]:
period_ahead.head()

    GAME_ID  PERIOD  home_ahead
0  21700001       1          16
1  21700001       2          28
2  21700001       3          28
3  21700001       4          15
4  21700002       1          31

In [38]:
total_events_period_pivot_df = total_events_period_df.pivot(index="GAME_ID", columns="PERIOD", values="period_events")
total_events_period_pivot_df = pd.DataFrame(total_events_period_pivot_df.to_records())
total_events_period_pivot_df.columns = ["period_{}_events".format(col) if col != 'GAME_ID' else col for col in total_events_period_pivot_df.columns ]
total_events_period_pivot_df.head()

,GAME_ID,period_1_events,period_2_events,period_3_events,period_4_events,period_5_events,period_6_events,period_7_events
0,21700001,28.0,28.0,30.0,37.0,NaN,NaN,NaN
1,21700002,36.0,36.0,31.0,29.0,NaN,NaN,NaN
2,21700003,33.0,26.0,28.0,24.0,NaN,NaN,NaN
3,21700004,33.0,38.0,48.0,41.0,NaN,NaN,NaN
4,21700005,40.0,26.0,31.0,33.0,NaN,NaN,NaN

In [39]:
period_ahead_pivot_df = period_ahead.pivot(index="GAME_ID", columns="PERIOD", values="home_ahead")
period_ahead_pivot_df = pd.DataFrame(period_ahead_pivot_df.to_records())
period_ahead_pivot_df.columns = ["period_{}_ahead".format(col) if col != 'GAME_ID' else col for col in period_ahead_pivot_df.columns ]
period_ahead_pivot_df.head()

,GAME_ID,period_1_ahead,period_2_ahead,period_3_ahead,period_4_ahead,period_5_ahead,period_6_ahead,period_7_ahead
0,21700001,16.0,28.0,28.0,15.0,NaN,NaN,NaN
1,21700002,31.0,36.0,31.0,25.0,NaN,NaN,NaN
2,21700003,28.0,26.0,28.0,24.0,NaN,NaN,NaN
3,21700004,24.0,31.0,47.0,41.0,NaN,NaN,NaN
4,21700005,3.0,10.0,31.0,33.0,NaN,NaN,NaN

In [40]:
total_calcs = total_events_df.merge(total_ahead, left_on='GAME_ID', right_on='GAME_ID', how='inner')
total_calcs.head()

    GAME_ID  total_events  home_ahead
0  21700540           174          54
1  21701054           163          69
2  21700692           162          71
3  21701152           160          63
4  21700004           160         143

In [41]:
period_calcs = total_events_period_pivot_df.merge(period_ahead_pivot_df, left_on='GAME_ID', right_on='GAME_ID', how='inner')
period_calcs.head()

,GAME_ID,period_1_events,period_2_events,period_3_events,period_4_events,period_5_events,period_6_events,period_7_events,period_1_ahead,period_2_ahead,period_3_ahead,period_4_ahead,period_5_ahead,period_6_ahead,period_7_ahead
0,21700001,28.0,28.0,30.0,37.0,NaN,NaN,NaN,16.0,28.0,28.0,15.0,NaN,NaN,NaN
1,21700002,36.0,36.0,31.0,29.0,NaN,NaN,NaN,31.0,36.0,31.0,25.0,NaN,NaN,NaN
2,21700003,33.0,26.0,28.0,24.0,NaN,NaN,NaN,28.0,26.0,28.0,24.0,NaN,NaN,NaN
3,21700004,33.0,38.0,48.0,41.0,NaN,NaN,NaN,24.0,31.0,47.0,41.0,NaN,NaN,NaN
4,21700005,40.0,26.0,31.0,33.0,NaN,NaN,NaN,3.0,10.0,31.0,33.0,NaN,NaN,NaN

In [42]:
def calc_pct(row):
    return row['home_ahead']/row['total_events']

In [43]:
total_calcs['pct_home_ahead'] = total_calcs.apply(lambda x: calc_pct(x), axis=1)

In [44]:
total_calcs.head()

    GAME_ID  total_events  home_ahead  pct_home_ahead
0  21700540           174          54        0.310345
1  21701054           163          69        0.423313
2  21700692           162          71        0.438272
3  21701152           160          63        0.393750
4  21700004           160         143        0.893750

Now let's join everything together and save to a database

In [45]:
final_calcs = total_calcs.merge(period_calcs, left_on='GAME_ID', right_on='GAME_ID', how='inner')

And add in whether the home team won or not.

In [46]:
processed_df = final_calcs.merge(wins_df, left_on='GAME_ID', right_on='GAME_ID', how='inner')

In [47]:
processed_df.head()

,GAME_ID,total_events,home_ahead,pct_home_ahead,period_1_events,period_2_events,period_3_events,period_4_events,period_5_events,period_6_events,period_7_events,period_1_ahead,period_2_ahead,period_3_ahead,period_4_ahead,period_5_ahead,period_6_ahead,period_7_ahead,home_win
0,21700540,174,54,0.310345,44.0,34.0,33.0,30.0,15.0,18.0,NaN,23.0,19.0,0.0,0.0,5.0,7.0,NaN,1
1,21701054,163,69,0.423313,39.0,29.0,30.0,31.0,16.0,18.0,NaN,1.0,6.0,29.0,6.0,10.0,17.0,NaN,1
2,21700692,162,71,0.438272,23.0,32.0,33.0,48.0,13.0,13.0,NaN,4.0,32.0,16.0,5.0,2.0,12.0,NaN,1
3,21701152,160,63,0.393750,27.0,47.0,31.0,34.0,21.0,NaN,NaN,3.0,31.0,9.0,0.0,20.0,NaN,NaN,1
4,21700004,160,143,0.893750,33.0,38.0,48.0,41.0,NaN,NaN,NaN,24.0,31.0,47.0,41.0,NaN,NaN,NaN,1

In [48]:
processed_df.to_sql(name="processed_data", con=conn, if_exists="append", index=False)

In [49]:
data.to_sql(name="raw_data", con=conn, if_exists="append", index=False)

NOTE: Writing to database during 2011-12 season broke schema as this was first time 8 periods were seen in a game, added those columns manually with :

`ALTER TABLE processed_data ADD COLUMN period_8_events REAL;
ALTER TABLE processed_data ADD COLUMN period_8_ahead REAL;`