In [1]:
import pandas as pd

In [4]:
csv = "./data/eightthirtyfour.com/pbp/2000-01_pbp.csv"

In [5]:
data = pd.read_csv(csv)

In [6]:
data.dtypes

Unnamed: 0                     int64
EVENTMSGACTIONTYPE             int64
EVENTMSGTYPE                   int64
EVENTNUM                       int64
GAME_ID                        int64
HOMEDESCRIPTION               object
NEUTRALDESCRIPTION           float64
PCTIMESTRING                  object
PERIOD                         int64
PERSON1TYPE                  float64
PERSON2TYPE                    int64
PERSON3TYPE                    int64
PLAYER1_ID                     int64
PLAYER1_NAME                  object
PLAYER1_TEAM_ABBREVIATION     object
PLAYER1_TEAM_CITY             object
PLAYER1_TEAM_ID              float64
PLAYER1_TEAM_NICKNAME         object
PLAYER2_ID                     int64
PLAYER2_NAME                  object
PLAYER2_TEAM_ABBREVIATION     object
PLAYER2_TEAM_CITY             object
PLAYER2_TEAM_ID              float64
PLAYER2_TEAM_NICKNAME         object
PLAYER3_ID                     int64
PLAYER3_NAME                  object
PLAYER3_TEAM_ABBREVIATION     object
PLAYER3_TEAM_CITY             object
PLAYER3_TEAM_ID              float64
PLAYER3_TEAM_NICKNAME         object
SCORE                         object
SCOREMARGIN                   object
VISITORDESCRIPTION            object
WCTIMESTRING                  object
dtype: object

In [7]:
len(data)

537157

In [13]:
data.head()

,Unnamed: 0,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
0,0,0,12,0,20001116,NaN,NaN,12:00,1,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:11 PM
1,1,0,10,1,20001116,Jump Ball Grant vs. Mutombo: Tip to Hill,NaN,12:00,1,4.0,...,238,Tyrone Hill,PHI,Philadelphia,1.610613e+09,76ers,NaN,NaN,NaN,12:12 PM
2,2,1,1,2,20001116,NaN,NaN,11:45,1,5.0,...,0,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Iverson 21' Jump Shot (2 PTS),12:13 PM
3,3,1,6,3,20001116,NaN,NaN,11:28,1,5.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hill P.FOUL (P1.T1),12:13 PM
4,4,1,1,4,20001116,Mason 17' Jump Shot (2 PTS),NaN,11:19,1,4.0,...,0,NaN,NaN,NaN,NaN,NaN,2 - 2,TIE,NaN,12:13 PM

### How Many Individual Games

In [10]:
len(data['GAME_ID'].unique())

1189

In [15]:
data.iloc[0]

Unnamed: 0                          0
EVENTMSGACTIONTYPE                  0
EVENTMSGTYPE                       12
EVENTNUM                            0
GAME_ID                      20001116
HOMEDESCRIPTION                   NaN
NEUTRALDESCRIPTION                NaN
PCTIMESTRING                    12:00
PERIOD                              1
PERSON1TYPE                         0
PERSON2TYPE                         0
PERSON3TYPE                         0
PLAYER1_ID                          0
PLAYER1_NAME                      NaN
PLAYER1_TEAM_ABBREVIATION         NaN
PLAYER1_TEAM_CITY                 NaN
PLAYER1_TEAM_ID                   NaN
PLAYER1_TEAM_NICKNAME             NaN
PLAYER2_ID                          0
PLAYER2_NAME                      NaN
PLAYER2_TEAM_ABBREVIATION         NaN
PLAYER2_TEAM_CITY                 NaN
PLAYER2_TEAM_ID                   NaN
PLAYER2_TEAM_NICKNAME             NaN
PLAYER3_ID                          0
PLAYER3_NAME                      NaN
PLAYER3_TEAM_ABBREVIATION         NaN
PLAYER3_TEAM_CITY                 NaN
PLAYER3_TEAM_ID                   NaN
PLAYER3_TEAM_NICKNAME             NaN
SCORE                             NaN
SCOREMARGIN                       NaN
VISITORDESCRIPTION                NaN
WCTIMESTRING                 12:11 PM
Name: 0, dtype: object

In [29]:
len(data[(data['GAME_ID'] == 20000001)])

429

In [43]:
data['GAME_ID'].value_counts().max()

606

In [44]:
data['GAME_ID'].value_counts().min()

371

In [45]:
data['GAME_ID'].value_counts().mean()

451.7720773759462

In [46]:
dropped = data.dropna(subset=['SCORE', 'SCOREMARGIN'])

In [47]:
len(dropped)

137590

In [48]:
dropped['GAME_ID'].value_counts().max()

167

In [49]:
dropped['GAME_ID'].value_counts().min()

77

In [57]:
dropped.head()

,Unnamed: 0,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
2,2,1,1,2,20001116,NaN,NaN,11:45,1,5.0,...,0,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Iverson 21' Jump Shot (2 PTS),12:13 PM
4,4,1,1,4,20001116,Mason 17' Jump Shot (2 PTS),NaN,11:19,1,4.0,...,0,NaN,NaN,NaN,NaN,NaN,2 - 2,TIE,NaN,12:13 PM
9,9,5,1,9,20001116,NaN,NaN,10:44,1,5.0,...,0,NaN,NaN,NaN,NaN,NaN,4 - 2,-2,Lynch Layup (2 PTS) (Snow 1 AST),12:14 PM
19,19,42,1,19,20001116,NaN,NaN,9:45,1,5.0,...,0,NaN,NaN,NaN,NaN,NaN,6 - 2,-4,Iverson Driving Layup (4 PTS),12:15 PM
23,23,1,1,24,20001116,NaN,NaN,9:15,1,5.0,...,0,NaN,NaN,NaN,NaN,NaN,9 - 2,-7,Iverson 24' 3PT Jump Shot (7 PTS) (Mutombo 1 AST),12:17 PM

Now we want to create columns for whether the home team one or not and for each event whether they were ahead or not. This is easy because if the SCOREMARGIN is Negative, the home team is losing. And if the last entry for a GAME_ID score margin is negative, then the home team lost.

In [68]:
final_scores = dropped.groupby('GAME_ID').tail(n=1)

In [69]:
final_scores.head()

,Unnamed: 0,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,...,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING
428,428,0,13,447,20001116,NaN,NaN,0:00,4,0.0,...,0,NaN,NaN,NaN,NaN,NaN,81 - 83,2,NaN,2:34 PM
860,431,0,13,469,20000520,NaN,NaN,0:00,4,0.0,...,0,NaN,NaN,NaN,NaN,NaN,102 - 115,13,NaN,4:16 PM
1294,433,0,13,455,20000629,NaN,NaN,0:00,4,0.0,...,0,NaN,NaN,NaN,NaN,NaN,81 - 91,10,NaN,9:00 AM
1720,425,0,13,444,20000441,NaN,NaN,0:00,4,0.0,...,0,NaN,NaN,NaN,NaN,NaN,67 - 89,22,NaN,4:16 PM
2185,464,0,13,509,20000805,NaN,NaN,0:00,4,0.0,...,0,NaN,NaN,NaN,NaN,NaN,95 - 122,27,NaN,11:38 AM

In [76]:
def home_adv(row):
    if row['SCOREMARGIN'] == 'TIE':
        return -1
    if int(row['SCOREMARGIN']) < 0:
        return 0
    if int(row['SCOREMARGIN']) > 0:
        return 1
    return -999

In [74]:
final_scores['home_win'] = final_scores.apply(lambda x: home_win(x), axis=1)

/Users/dogrdon/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
final_scores.head()

,Unnamed: 0,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,...,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_win
428,428,0,13,447,20001116,NaN,NaN,0:00,4,0.0,...,NaN,NaN,NaN,NaN,NaN,81 - 83,2,NaN,2:34 PM,1
860,431,0,13,469,20000520,NaN,NaN,0:00,4,0.0,...,NaN,NaN,NaN,NaN,NaN,102 - 115,13,NaN,4:16 PM,1
1294,433,0,13,455,20000629,NaN,NaN,0:00,4,0.0,...,NaN,NaN,NaN,NaN,NaN,81 - 91,10,NaN,9:00 AM,1
1720,425,0,13,444,20000441,NaN,NaN,0:00,4,0.0,...,NaN,NaN,NaN,NaN,NaN,67 - 89,22,NaN,4:16 PM,1
2185,464,0,13,509,20000805,NaN,NaN,0:00,4,0.0,...,NaN,NaN,NaN,NaN,NaN,95 - 122,27,NaN,11:38 AM,1

In [77]:
dropped['home_ahead'] = dropped.apply(lambda x: home_adv(x), axis=1)

/Users/dogrdon/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [78]:
dropped.head()

,Unnamed: 0,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,...,PLAYER3_NAME,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_ahead
2,2,1,1,2,20001116,NaN,NaN,11:45,1,5.0,...,NaN,NaN,NaN,NaN,NaN,2 - 0,-2,Iverson 21' Jump Shot (2 PTS),12:13 PM,0
4,4,1,1,4,20001116,Mason 17' Jump Shot (2 PTS),NaN,11:19,1,4.0,...,NaN,NaN,NaN,NaN,NaN,2 - 2,TIE,NaN,12:13 PM,-1
9,9,5,1,9,20001116,NaN,NaN,10:44,1,5.0,...,NaN,NaN,NaN,NaN,NaN,4 - 2,-2,Lynch Layup (2 PTS) (Snow 1 AST),12:14 PM,0
19,19,42,1,19,20001116,NaN,NaN,9:45,1,5.0,...,NaN,NaN,NaN,NaN,NaN,6 - 2,-4,Iverson Driving Layup (4 PTS),12:15 PM,0
23,23,1,1,24,20001116,NaN,NaN,9:15,1,5.0,...,NaN,NaN,NaN,NaN,NaN,9 - 2,-7,Iverson 24' 3PT Jump Shot (7 PTS) (Mutombo 1 AST),12:17 PM,0

In [79]:
wins_df = final_scores[['GAME_ID', 'home_win']]

In [80]:
wins_df.head()

       GAME_ID  home_win
428   20001116         1
860   20000520         1
1294  20000629         1
1720  20000441         1
2185  20000805         1

In [85]:
prepped_data = dropped.merge(wins_df, left_on='GAME_ID', right_on='GAME_ID', how='inner')

In [86]:
prepped_data.head()

,Unnamed: 0,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,...,PLAYER3_TEAM_ABBREVIATION,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,VISITORDESCRIPTION,WCTIMESTRING,home_ahead,home_win
0,2,1,1,2,20001116,NaN,NaN,11:45,1,5.0,...,NaN,NaN,NaN,NaN,2 - 0,-2,Iverson 21' Jump Shot (2 PTS),12:13 PM,0,1
1,4,1,1,4,20001116,Mason 17' Jump Shot (2 PTS),NaN,11:19,1,4.0,...,NaN,NaN,NaN,NaN,2 - 2,TIE,NaN,12:13 PM,-1,1
2,9,5,1,9,20001116,NaN,NaN,10:44,1,5.0,...,NaN,NaN,NaN,NaN,4 - 2,-2,Lynch Layup (2 PTS) (Snow 1 AST),12:14 PM,0,1
3,19,42,1,19,20001116,NaN,NaN,9:45,1,5.0,...,NaN,NaN,NaN,NaN,6 - 2,-4,Iverson Driving Layup (4 PTS),12:15 PM,0,1
4,23,1,1,24,20001116,NaN,NaN,9:15,1,5.0,...,NaN,NaN,NaN,NaN,9 - 2,-7,Iverson 24' 3PT Jump Shot (7 PTS) (Mutombo 1 AST),12:17 PM,0,1

Now we have our data prepped, can start to analyze play by play whether being ahead, and for what percentage of the game, determines the outcome of a win or a loss.